exportPattern("^[[:alpha:]]+")
importFrom("foreign","write.dbf")
importFrom("data.table","as.data.table")
importFrom("geosphere","distGeo")
importFrom("tigris","tracts")
importFrom("raster","crs")
importFrom("sp","coordinates")
importFrom("spatialEco","point.in.poly")
importFrom("stats", "IQR", "aov", "chisq.test", "kruskal.test","median", "sd", "shapiro.test", "t.test", "wilcox.test")
