exportPattern("^[[:alpha:]]+")
importFrom("data.table","as.data.table")
importFrom("geosphere","distGeo")
importFrom("tigris","tracts")
importFrom("raster","crs","extent","mask","extract", "crop","projection")
importFrom("sp","coordinates","CRS","spTransform")
importFrom("spatialEco","point.in.poly")
importFrom("stats", "IQR", "aov", "chisq.test", "kruskal.test","median", "sd", "shapiro.test", "t.test", "wilcox.test")
importFrom("plyr", "rbind.fill")
