exportPattern("^[[:alpha:]]+")
importFrom("data.table","as.data.table","setorderv")
importFrom("geosphere","distGeo")
importFrom("tigris","tracts")
importFrom("raster","crs","extent","mask","extract", "crop","projection")
importFrom("sp","coordinates","CRS","spTransform")
importFrom("sf","st_as_sf","st_join")
importFrom("stats", "IQR", "aov","glm","as.formula","binomial","lm","quantile" ,"chisq.test", "kruskal.test","median", "sd", "shapiro.test", "t.test", "wilcox.test")
importFrom("plyr", "rbind.fill")
importFrom("dplyr", "arrange")
importFrom("methods", "as")
